*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
img{
	cursor: pointer;
}
.scroll-lock{
	overflow: hidden;
}
.zoom-img{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background: rgba(0, 0, 0, 0.5);
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
.wraper{
	min-height:100%;
	overflow:hidden;
	display: flex;
	flex-direction:column;

}

.main{
	flex: 1 1 auto;
}
[class*="__container"]{
	max-width:943px;
	margin:0 auto;
	padding:0px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
@font-face {
font-family: "gilroy-bold"; 
src: url("../fonts/gilroy-bold.woff2") format("truetype"); 
font-style: bold; 
font-weight: bold; 
} 
@font-face {
font-family: "gilroy-medium"; 
src: url("../fonts/gilroy-medium.woff2") format("truetype"); 
font-style: medium; 
font-weight: medium; 
}
.header__container {
	margin-bottom: 1rem;
	justify-content: space-between;
}
h1{
	font-family: 'Gilroy-Bold';
	font-size: 3.25rem;
	line-height: 125%;
	color: #070707;
}
.menu-list {
	display: flex;
	flex-wrap: wrap;
        align-items: center;
  justify-content: space-between;
}
.header__menu{
	width: 100%;
}

.menu-link {
font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;
color: #828282;
padding: 5px;
}
.black{
	color: #070707;
}
.line {
	border: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);
width: 100%;
}

.main__text{
font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 122%;
color: #070707;
word-wrap: break-word;
}
.main__rueng{
cursor: pointer;
font-family: 'Gilroy-Bold';
font-size: 16px;
line-height: 125%;
color: #828282;
transform: rotate(-90deg) translate(0,25px);
}

.main__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.active-lang{
	color: #070707;
}
.lang-delimiter{
	color: #070707;
}
.main__mainphoto{
	padding: 50px 0 100px 0;

}
.about{
	background-color: #F6F6F6;
}
.about__headder {
padding: 120px 0 0 0;
}
.about__text {
padding: 20px 0 100px 0;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	max-width: 420px;
}
.about__txt:not(:first-child){
padding: 35px 0 0 0;
}
.about__txt{
	text-align: center;
}


.skills__headder {
padding: 90px 0 0 0;
}
.skills__text {
	font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
padding: 70px 0 0 0;
}

a{
	color: #070707;
}
a:hover{
cursor: pointer;
}
.skills__stars{
display: flex;
gap: 0.5rem;
}
.skills__programms {
	padding: 90px 0 110px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 2rem;
	gap: 5rem;
}

.skills__programms-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
}
.skills__card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 20px;
}

.portfolio__headder {
padding: 110px 0 50px 0;
}


.portfolio{
background-color: #F6F6F6;
}
h2{
font-family: 'Gilroy-Bold';
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
}
.portfolio__text {
font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;
color: #070707;
padding: 50px 0 100px 0;
}
.footer__contacts {
padding: 0 0 20px 0;
}
.header__menu-burger{
	display: none;
}
.footer__mediatext{
	max-width: 220px;
}
.footer__text {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
padding: 1.25rem 0 2.5rem 0;
max-width: 370px;
}
.footer__button{
	border-radius: 1.5rem;
	font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;
background-color: #070707;
text-align: center;
padding: 1rem 2rem;
margin: 0 0 5.5rem 0;
}
.footer__button a{
	color: #FFFFFF;
}

.footer__container{
	padding: 8rem 0;

}
.footer__media {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0 3rem 0;
	width: 300px;
}

.footer__mediatext {
	font-family: 'Gilroy-Medium';
font-size: 0.9rem;
line-height: 1.1rem;
text-align: center;
color: #828282;
}

@media (max-width: 478.98px){
	.main__mainphoto{
		width: 100%;
	}
		  #main__rueng{
			display: none;
			  }
	.main__info {
		flex-direction: column;
		align-items: start;
		gap: 2rem;
	}
	.main__rueng{
		font-family: 'Gilroy-Bold';
		font-size: 2rem;
	}
.skills__programms {
	display: grid;
	grid-template-columns: 1fr;
		}
.burger {
	display: block;
	position: absolute;

  }
.menu-list{
	width: 70%;
	flex-direction: column;
	gap: 4rem;
	justify-content: start;
	align-items: start;
}

.menu-list {
	top: 0;
	transform: translateY(-110%);
	position: absolute;
	transition: .5s;
	z-index: 10;
  }
  .line{
	display: none;
  }
  .burger-checkbox + .burger{
	position: absolute;
	right: 2.5rem;
	width: 2rem;
	top: 2rem;
  }
  .menu-link {
font-size: 2rem;
  }
}
#main__rueng-mobile{
	display: none;
}
@media (max-width: 767.98px)  and (min-width: 479.98px)  {
	.skills__programms {
display: grid;
grid-template-columns: 1fr 1fr;
	}

	.main__mainphoto{
		width: 70vw;
	}

}
@media (max-width: 768.98px){

	  .footer__button{
		width: 300px;
	  }
}

.burger-checkbox {
	position: absolute;
	visibility: hidden;
  }
  .burger {
	position: relative;
	z-index: 1;
	cursor: pointer;
	position: relative;
	border: none;
	background: transparent;
	width: 40px;
	height: 26px;
  }
  .burger::before,
  .burger::after {
	content: '';
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 10px;
	background: #000;
  }
  .burger::before {
	top: 0;
	box-shadow: 0 11px 0 #000;
	transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
	bottom: 0;
	transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
	top: 11px;
	transform: rotate(45deg);
	box-shadow: 0 6px 0 rgba(0,0,0,0);
	transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
   .burger-checkbox:checked + .burger::after {
	bottom: 11px;
	transform: rotate(-45deg);
	transition: bottom .3s, transform .3s .15s;
  }

  .menu-item {
	display: block;
	padding: 8px;
	color: white;

	text-align: center;
	text-decoration: none;
  }
  .menu-item:hover {
	background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
	position: relative;
	transform: translateY(0);
	height: 100vh;
	padding-top: 4rem;
  }

  .burger-checkbox:checked ~ .burger {
top: 4.5rem;
  }
  .burger-checkbox:checked ~ #main__rueng-mobile{
	display: inline;
	position: absolute;
right: 1rem;
bottom: 15vh;
  }

  .text{
	font-size: 1.15rem;
	font-family: 'Gilroy-Medium';
	line-height: 122%;
	color: #070707;
	word-wrap: break-word;
	text-align: center;
  }